<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/admin.js"></script>
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/admin.css">
</head>

<body>
    <h1 style="color: white">Pershendje, <%= username %>!</h1>
    <h2 style="color: rgb(0, 255, 187);">
        <%= confirmAlert %>
    </h2>
    <div class="container">
        <div class="flexitem" id="nav">
            <div class="flexitem">
                <a id="btnStudent" onclick="showFunc('s')">Add Student</a>
            </div>
            <div class="flexitem">
                <a id="btnComplaint" onclick="showFunc('c')">Complaints</a>
            </div>
            <div class="flexitem">
                <a id="btnInternship" onclick="showFunc('i')">Internships</a>
            </div>
        </div>
        <div class="flexitem" id="logout">
            <form action="/" method="get">
                <button type="submit">Log Out</button>
            </form>
        </div>
    </div>
    <div class="container" id="addStudent">
        <form id="addStudent" action="/addStudent" method="post">
            <div>
                <input type="text" name="firstname" id="firstname" placeholder="First Name" required>
            </div>
            <div>
                <input type="text" name="lastname" id="lastname" placeholder="Last Name" required>
            </div>
            <div>
                <input type="date" name="birthdate" id="birthdate">
            </div>
            <div>
                <select name="faculty" id="faculty">
                    <option value="">Select Faculty</option>
                    <option value="FSHN">Fakulteti i Shkencave te Natyres</option>
                    <option value="FSHMT">Fakulteti i Shkencave Mjekesore Teknike</option>
                    <option value="FE">Fakulteti Ekonomik</option>
                </select>
            </div>
            <div>
                <button type="submit" action>Submit</button>
            </div>
        </form>
    </div>

    <div class="container" id="complaints">
        <table id="complaintsTable">
            <tr>
                <th style="width: 12vw">Complaintant</th>
                <th style="width: 9vw">Faculty</th>
                <th>Category</th>
                <th style="width: 30vw;">Description</th>
                <th>Status</th>
            </tr>
            <% for(var i=0; i<complaints.length; i++){ %>
                <tr>
                    <td>
                        <%= complaints[i].st_username %>
                    </td>
                    <td>
                        <%= complaints[i].faculty %>
                    </td>
                    <td>
                        <%= complaints[i].category %>
                    </td>
                    <td style="font-size: 10px; max-width: 20vw;">
                        <%= complaints[i].description %>
                    </td>
                    <% if (complaints[i].status) { %>
                        <td>
                            Resolved
                        </td>
                        <td style="padding-left: 5vw;">
                            <form>
                                <button style=" color:black; background-color: rgb(47, 162, 47);"
                                    disabled>Resolved</button>
                            </form>
                        </td>
                        <% } else { %>
                            <td>
                                Pending
                            </td>
                            <td style="padding-left: 5vw;">
                                <form action="/resolveComplaint" method="post">
                                    <input type="hidden" name="id" value="<%= complaints[i].id %>">
                                    <button type="submit">Resolve</button>
                                </form>
                            </td>
                            <% } %>
                </tr>
                <% } %>
        </table>
    </div>
    <div class="container" id="addInternship">
        <form action="/addInternship" method="post">
            <div>
                <input type="text" name="internship_name" id="internship_name" placeholder="Internship Name" required>
            </div>
            <div>
                <textarea name="details" id="int_info" cols="30" rows="10" placeholder="Internship Details"
                    style="text-align: start; font-size: 11px;"></textarea>
            </div>
            <div>
                <select name="faculty" id="faculty">
                    <option value="" selected>Select Faculty</option>
                    <option value="FSHN">Fakulteti i Shkencave te Natyres</option>
                    <option value="FSHMT">Fakulteti i Shkencave Mjekesore Teknike</option>
                    <option value="FE">Fakulteti Ekonomik</option>
                </select>
                <div>
                    <button type="submit">Submit</button>
                </div>
        </form>

    </div>

</body>

</html>